# History files
.Rhistory
.Rapp.history

# MacOS files
.DS_Store

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
Research/khang/khangResearch.nb.html
Research/khang/khangResearch.Rmd
shinyapp/data/bridge.rds
shinyapp/data/GSE129166.rds
shinyapp/data/GSE36059.rds
shinyapp/data/GSE46474.rds
shinyapp/data/GSE48581.rds
